.pinInput {
  width: 35px;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  border: #e8e8e8;
  font-family: Montserrat Alternates;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.pinInput:focus-visible {
  outline: #9ad219 auto 1px;
}

.pinInput:hover {
  border-color: #7ba814;
}
